@page "/employeelist/edit/{Id:int?}"
@using CoffeShop.Web.Blazor.Shared;
@using CoffeeShop.Model.Enums;
@inject HttpClient httpClient
@inject NavigationManager navigationManager
<h3>Employee Edit</h3>

@if (Employee == null) {
    <p>Loading ...</p>
} else {
    <div class="row">
        <div class="col-md-6">
            <label class="form-label">Name</label>
            <input class="form-control" @bind="@Employee.Name" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Surname</label>
            <input class="form-control" @bind="@Employee.Surname" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Salary Per Month</label>
            <input class="form-control" @bind="@Employee.SalaryPerMonth" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Employee Type</label>
            <select class="form-control" @bind="Employee.EmployeeType">
                @foreach (var employeetype in Enum.GetValues<EmployeeType>()) {
                    <option value="@employeetype">@employeetype</option>
                }
            </select>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-success" @onclick="OnSave">Save</button>
            <BootstrapButton ButtonType = "BootstrapButtonType.Secondary" OnClick="OnCancel">Back</BootstrapButton>
        </div>
    </div>
}


@code {
    [Parameter] public int? Id { get; set; }
    EmployeeEditDto? Employee { get; set; }

    protected override async Task OnInitializedAsync() {
        if (Id == null) {
            Employee = new();
        } else {
            Employee = await httpClient.GetFromJsonAsync<EmployeeEditDto>($"employee/{Id}");
            if(Employee is null) {
                //TODO: If employee is null
            }
        }
    }

    private void OnCancel() {
        navigationManager.NavigateTo("employeelist");
    }

    private async Task OnSave() {
        HttpResponseMessage? response = null;
        if (Id == null) {
            response = await httpClient.PostAsJsonAsync("employee", Employee);
        } else {
            response = await httpClient.PutAsJsonAsync("employee", Employee);
        }
        response.EnsureSuccessStatusCode();
        navigationManager.NavigateTo("/employeelist");
    }
}

