@page "/transactionline/edit/{Id:int?}"
@using CoffeShop.Web.Blazor.Shared;
<h3>TransactionLineEdit</h3>

@inject HttpClient httpClient
@inject NavigationManager navigationManager


@if (transactionLine == null) {
    <p>Loading ...</p>
}
else {

    <div class="row">
        <div class="col-md-4">
            <label class="form-label">Product</label>
            <select class="form-control" @bind="@transactionLine.ProductId" @bind:after="() => udpateProduct()">
                @foreach (var product in productList) {
                    <option value="@product.Id">@product.Code - @product.Description</option>
                    }
            </select>
            <label class="form-label">Price</label>

            <input class="form-control" @bind="@transactionLine.Price" />
        </div>
    </div>

}

@code {
    [Parameter] public int? Id { get; set; }
    private bool isLoading { get; set; } = true;


    private TransactionLineEditDto? transactionLine { get; set; } = new();
    private List<ProductListDto> productList = new();


    protected override async Task OnInitializedAsync() {
        productList = await httpClient.GetFromJsonAsync<List<ProductListDto>>("product");
        transactionLine = await httpClient.GetFromJsonAsync<TransactionLineEditDto>($"transactionline/{Id}");
        isLoading = false;
    }

    async Task udpateProduct() {
        var product = productList.Find(product => product.Id == transactionLine.ProductId);
        transactionLine.Price = product.Price;
    }

}
