@page "/productlist/edit/{Id:int?}"
@using CoffeShop.Web.Blazor.Shared.Product;
@using CoffeShop.Web.Blazor.Shared.ProductCategory;
@using CoffeeShop.Model.Enums;
@inject IJSRuntime jsRuntime
@inject HttpClient httpClient
@inject NavigationManager navigationManager
<h3>Edit Product</h3>

@if (isLoading) {
    <p>Loading ...</p>
} else {
    <div class="row">
        <div class="col-md-6">
            <label class="form-label">Code</label>
            <input class="form-control" @bind="@product.Code" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Description</label>
            <input class="form-control" @bind="@product.Description" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Cost</label>
            <input class="form-control" @bind="@product.Cost" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Price</label>
            <input class="form-control" @bind="@product.Price" />
        </div>
        @*<div class="col-md-6">
    <label class="form-label">Product Category</label>
    <select class="form-control" @bind="product.ProductCategory">
    @foreach (var productCategory in productCategoryList) {
    <option value="@productCategory.Id">@productCategory.Code - @productCategory.Description</option>
    }
    </select>
    </div>*@
    </div>
    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-success" @onclick="OnSave">Save</button>
            <button class="btn btn-danger" @onclick="OnCancel">Cancel</button>
        </div>

    </div>
}


@code {
    [Parameter] public int? Id { get; set; }
    private ProductEditDto product { get; set; } = null!;
    private List<ProductCategoryListDto> productCategoryList = new();
    bool isLoading { get; set; } = true;

    protected override async Task OnInitializedAsync() {
        if (Id == null) {
            product = new();
        } else {
            var tempProduct = await httpClient.GetFromJsonAsync<ProductEditDto>($"product/{Id}");
            if (tempProduct is not null) {
                product = tempProduct;
            } else {
                //TODO: if product is null
            }
        }
        var tempProductCategoryList = await httpClient.GetFromJsonAsync<List<ProductCategoryListDto>>("productCategory");
        if (tempProductCategoryList is not null) {
            productCategoryList = tempProductCategoryList;
        } else {
            var confirm = await jsRuntime.InvokeAsync<bool>("confirm", "Delete Item. Are you sure?");
            // Todo: if tempProductCategoryList is not null
        }
        isLoading = false;
    }

    private void OnCancel() {
        navigationManager.NavigateTo("productlist");
    }

    private async Task OnSave() {
        HttpResponseMessage? response = null;
        if (Id == null) {
            response = await httpClient.PostAsJsonAsync("product", product);
        } else {
            response = await httpClient.PutAsJsonAsync("product", product);
        }

        response.EnsureSuccessStatusCode();
        navigationManager.NavigateTo("/productlist");
    }
}