@model CarServiceCenter.Model.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Detail</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer) 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name) @Html.DisplayFor(model => model.Customer.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manager)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manager.Name) @Html.DisplayFor(model => model.Manager.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Brand) @Html.DisplayFor(model => model.Car.Model)
        </dd>
    </dl>
</div>

<h2>Transacrion Lines</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Service Task
            </th>
            <th>
                Engineer
            </th>
            <th>
                Hours
            </th>
            <th>
                PricePerHour
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TransactionLines) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceTask.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Engineer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerHour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
