@model CarServiceCenter.Model.TransactionEditDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="TransactionLines" />
            <input type="hidden" asp-for="RemainingHours" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.Customers"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagerId" class="control-label"></label>
                <select asp-for="ManagerId" class="form-control" asp-items="ViewBag.Managers"></select>
                <span asp-validation-for="ManagerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarId" class="control-label"></label>
                <select asp-for="CarId" class="form-control" asp-items="ViewBag.Cars"></select>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <h4>Transaction Lines</h4>
    <p>
        <a asp-action="CreateLine" asp-route-transactionId="@Model.Id">Create New</a>
    </p>
    <label class="control-label">Total Remaining Hours: </label>
    <label class="control-label">@Model.RemainingHours</label>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Service Task
                </th>
                <th>
                    Engineer
                </th>
                <th>
                    Hours
                </th>
                <th>
                    PricePerHour
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TransactionLines) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceTask.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Engineer.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PricePerHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-action="EditLine" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="DetailsLine" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="DeleteLine" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
